@model CarSharingPortal.Models.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Car sharing portal";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Car Sharing Portal!</h1>
</div>


<div>
    @await Html.PartialAsync("_OffersTable.cshtml", Model.Offers)
</div>

@section Scripts
{
    <script type="text/javascript">

    </script>
}
